[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
boto3 = "*"
datasets = "*"
ragas = "*"
async-timeout = "*"
llama-index = "*"
pymongo = "*"
llama-index-vector-stores-awsdocdb = "*"
python-dotenv = "*"
llama-parse = "*"
llama-index-embeddings-openai = "*"
llama-index-llms-openai = "*"
nest-asyncio = "*"
llama-index-vector-stores-mongodb = "*"
llama-index-storage-docstore-mongodb = "*"
llama-index-llms-cohere = "*"
llama-index-embeddings-cohere = "*"
llama-index-embeddings-huggingface = "*"
llama-index-llms-anthropic = "*"
motor = "*"
rank-bm25 = "*"
llama-index-postprocessor-colbert-rerank = "*"
llama-index-retrievers-bm25 = "*"
python-multipart = "*"
uvicorn = "*"
deepeval = "*"
celery = {extras = ["sqs"], version = "*"}
pyjwt = "*"
passlib = "*"
bcrypt = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
pylint = "*"
redis = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
