[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
boto3 = "*"
datasets = "*"
ragas = "*"
psycopg2-binary = "*"
async-timeout = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
