@import url("reset.css");

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.67rem 0 0.67rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.83rem 0 0.83rem 0;
}

h3 {
  font-size: 1.17rem;
  font-weight: bold;
  margin: 1rem 0 1rem 0;
}
