[Unit]
Description=Celery Worker Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ubuntu/
Restart=always
TimeoutStartSec=30
TimeoutStopSec=300
ExecStart=/home/ubuntu/db/util/start_celery.sh


[Install]
WantedBy=multi-user.target
