[Unit]
Description=Celery Worker Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/
Restart=always
TimeoutStartSec=30
TimeoutStopSec=300
ExecStart=/home/ubuntu/venv/bin/celery -A db.celery.tasks worker -l info -E -f /home/ubuntu/celery.log


[Install]
WantedBy=multi-user.target
