  [Unit]
  Description=Paisley backend
  After=network-online.target

  [Service]
  Type=simple
  Restart=always
  User=root
  WorkingDirectory=/home/ubuntu/
  Environment="PYTHONPATH=/home/ubuntu/venv/bin"
  ExecStart=/home/ubuntu/venv/bin/python -m db.server

  [Install]
  WantedBy=multi-user.target
