  [Unit]
  Description=Paisley backend
  After=network-online.target

  [Service]
  Type=simple
  Restart=always
  User=root
  WorkingDirectory=/home/ubuntu/
  Environment="PIPENV_PIPFILE=/home/ubuntu/db/Pipfile"
  ExecStart=/home/ubuntu/db/util/start_server.sh

  [Install]
  WantedBy=multi-user.target
